@use "/src/sass/base/variables" as *;

.header {
    margin-block-end: 50px;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: $dark;
            width: 20px;
            height: 20px;
            font-size: 17px;
        }
    }

    &__nav {
        display: none;
    }

    &__menu {
        padding: 50px 10px;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: $light;
        transition: all 0.3s;
        z-index: 1000;
        &-active {
            transform: translateX(100%);
        }
        &-close {
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-bottom: 50px;
            span {
                position: absolute;
                display: block;
                width: 20px;
                height: 1px;
                background-color: $dark;
                &:nth-child(1) {
                    top: 10px;
                    left: 10px;
                    transform: translateX(-50%) rotate(45deg);
                }
                &:nth-child(2) {
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%) rotate(-45deg);
                }
            }
        }
        &-nav {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            height: 100%;
            padding-left: 14px;
            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 25px;
                padding: 0;
                li {
                    list-style-type: none;
                    a {
                        color: $dark;
                        font-size: 20px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: normal;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    cursor: pointer;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__logo {
            margin-bottom: 20px;
        }
        &__nav {
            display: block;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                padding: 0;
                li {
                    list-style-type: none;
                }
            }
        }
        &__link {
            color: $dark;
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
            text-decoration: none;
        }

        &__menu {
            display: none;
        }
    }

    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        margin-bottom: 79px;
        &__logo {
            width: 150px;
            height: 151px;
            margin-bottom: 36px;
        }
        &__nav {
            ul {
                li {
                    gap: 60px;
                }
            }
        }
    }
}
