.promo {
    padding-top: 50px;
    position: relative;
    margin-bottom: 50px;

    &__title {
        margin-block-end: 40px;
        padding-inline: 5px;
    }

    &__img {
        width: 270px;
        height: 377px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        margin: 0 auto 18px auto;
    }

    &__button {
        margin: 0 auto;
    }

    &__poster {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .promo {
        margin-bottom: 60px;
        &__title {
            padding-inline: 0;
            padding-top: 250px;
            padding-left: 71px;
            text-align: left;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__cta {
        }

        &__img {
            width: 230px;
            height: 321px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .promo {
        &__poster {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: clamp(450px, 37.5vw, 630px);
            height: 633px;
            object-fit: cover;
        }

        &__title {
            padding-left: 571px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .promo {
        margin-bottom: 100px;
        padding-top: 40px;

        &__poster {
            height: 900px;
        }

        &__title {
            padding-left: 640px;
            padding-top: 320px;
        }

        &__img {
            width: 330px;
            height: 460px;
            margin: 0 auto 50px auto;
        }

        &__button {
            margin: 0 auto;
        }
    }
}
